@import 'src/assets/style/components/dialog.scss';

app-dialog-upload-video {
    .dialog-upload-video {

        .content-dialog {
            padding: 1rem;

            .dialog-description {
                color: var(--black-rgb-05);
                display: block;
            }

            .remove-btn {
                margin-right: auto;
                color: var(--orange-6);
                font-size: 14px;
                font-weight: bold;
                padding: 5px 10px;
                cursor: pointer;
                width: fit-content;
                min-width: 60px;
                text-align: center;
            }

            .file-upload {
                flex-direction: column;
                display: flex;
                place-content: center;
                align-items: center;
                width: 100%;
                border: 1px dashed var(--black-rgb-05);
                background-color: var(--white-rgb-09);
                border-radius: 5px;
                min-height: 160px;
                cursor: pointer;
                padding: var(--spacing-s);

                .text-select {
                    place-content: center;
                    align-items: center;
                    flex-direction: row;
                    box-sizing: border-box;
                    display: flex;
                    color: var(--black-rgb-05);
                    gap: 5px;

                    .icon {
                        color: var(--black-rgb-05);
                    }
                }

                &.pic-selected {
                    .preview-img {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: var(--spacing-s);

                        span {
                            text-align: center;
                            padding-top: 15px;
                            color: var(--orange-6);
                            cursor: pointer;
                        }

                        img {
                            width: 139px;
                            height: 139px;
                            border: 1px solid;
                        }
                    }
                }

                &.video-selected {
                    .preview-video {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: var(--spacing-s);

                        span {
                            text-align: center;
                            padding-top: 15px;
                            color: var(--orange-6);
                            cursor: pointer;
                        }

                        video {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}