app-all-classes {
    .all-class {
        margin-top: var(--spacing-xxl-2);

        .filter {
            display: block;
            margin-top: var(--spacing-xs);
        }

        .holder-data {
            padding: 0;

            .data-table {
                .table-custom {
                    border-radius: 8px 8px 0 0;

                    .time-day {
                        max-width: 168px;
                        text-wrap: wrap;
                        margin: 0 auto;
                    }
                }
            }

            .pagination-box {
                padding: 0 var(--spacing-l) !important;
            }
        }
    }
}