<div class="all-class">
    <h3 class="title-section">
        همه کلاس ها
    </h3>
    <app-filter-all-class class="filter" [loading]="dataSource.loading$ | async" />
    <div class="holder-data">
        <div class="data-table">
            <div class="table-wrapper">
                <table mat-table [dataSource]="dataSource" class="table-custom table-dashboard">
                    <!-- title Column -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> عنوان کلاس</th>
                        <td mat-cell *matCellDef="let element">
                            <a class="link-arrow" [routerLink]="'/classes/edit/'+ element.classId+'/sessions'">
                                <span>{{element.classTitle | elipsis:30}}</span>
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </td>
                    </ng-container>

                    <!-- time_day Column -->
                    <ng-container matColumnDef="time_day">
                        <th mat-header-cell *matHeaderCellDef>روز و ساعت برگزاری </th>
                        <td mat-cell *matCellDef="let element">
                            <p class="time-day">{{element.timeAndDayInWeek}}</p>
                        </td>
                    </ng-container>

                    <!-- startDate Column -->
                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef>تاریخ شروع</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.startDate | jalali}}
                        </td>
                    </ng-container>

                    <!-- tedadJalasat Column -->
                    <ng-container matColumnDef="tedadJalasat">
                        <th mat-header-cell *matHeaderCellDef> تعداد کل جلسات </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.tedadJalasat}}
                            جلسه
                        </td>
                    </ng-container>

                    <!-- jalasatBargozarShode Column -->
                    <ng-container matColumnDef="jalasatBargozarShode">
                        <th mat-header-cell *matHeaderCellDef> جلسات برگزار شده </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.jalasatBargozarShode}}
                            از
                            {{element.tedadJalasat}}
                        </td>
                    </ng-container>

                    <!-- tedatSabteNami Column -->
                    <ng-container matColumnDef="tedatSabteNami">
                        <th mat-header-cell *matHeaderCellDef> ثبت نامی </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.studentCount}}
                        </td>
                    </ng-container>

                    <!-- students Column -->
                    <ng-container matColumnDef="students">
                        <th mat-header-cell *matHeaderCellDef> دانش آموزان </th>
                        <td mat-cell *matCellDef="let element">
                            @if(element.studentCount !== 0){
                            <div class="list-student-td" (click)="listStudentClass(element)">
                                @for (item of [1,2,3]; track $index) {
                                <span class="ico-img">
                                    <mat-icon>person_outline</mat-icon>
                                </span>
                                }
                                <span class="count">+{{element.studentCount}}</span>
                            </div>
                            } @else {
                            دانش آموزی ثبت نشده
                            }
                        </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-progress-bar *ngIf="dataSource.loading$ | async" mode="query"></mat-progress-bar>
                @if((dataSource.length$ | async)
                < 1 && !(dataSource.loading$ | async)){ <app-empty-list />
                }
            </div>
            <app-pagination-share [pageSize]="pageSize" [totalCount]="dataSource.length$ | async"
                (pageNumber)="pageNumberSelected($event)" />
        </div>
    </div>
</div>