app-tab-menu-inner-page {
    display: block;
    margin-bottom: var(--spacing-m);

    .tab-menu-inner-page {
        display: flex;
        align-items: center;
        padding: 0 16px;
        border-bottom: solid 1px var(--gray-7);

        .arrow {
            width: 24px;
            height: 24px;
            cursor: pointer;
            display: none;
            align-items: center;
            justify-content: center;
            color: var(--gray-8);

            &.active {
                display: flex;
            }
        }

        .list-tab-menu {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            a {
                cursor: pointer;
                width: fit-content;
                height: 64px;
                flex-grow: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 16px 40px;
                font-size: 16px;
                font-weight: 500;
                line-height: 2;
                color: var(--gray-8);
                position: relative;

                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: auto;
                white-space: nowrap;

                &::after {
                    content: '';
                    display: none;
                    width: 100%;
                    height: 2px;
                    background: var(--primary-t-5);
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }

                &.active {
                    color: var(--primary-t-5);

                    &::after {
                        display: block;
                    }
                }

                &.disabled {
                    pointer-events: none;
                    color: var(--gray-3);
                }
            }
        }
    }
}