.input-text-field {
  width: 100%;

  .mdc-notched-outline__leading {
    border-left-style: none !important;
    border-right-style: solid !important;
    border-radius: 0 8px 8px 0 !important;
    width: 8px !important;
  }

  .mdc-notched-outline__trailing {
    border-left-style: solid !important;
    border-right-style: none !important;
    border-radius: 8px 0 0 8px !important;
  }

  .mat-mdc-text-field-wrapper {
    padding-left: 0 !important;
    padding-right: var(--spacing-s) !important;
    z-index: 2;
    position: relative;
  }

  .mat-mdc-form-field-infix {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 !important;
    padding-left: var(--spacing-xxl) !important;
    min-height: auto !important;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: var(--gray-7) !important;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
    border-color: var(--primary-t-5) !important;
  }

  .mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
  .mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
  .mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: var(--error-1) !important;
  }

  .clear {
    position: absolute;
    left: var(--spacing-s);
    cursor: pointer;
    top: 14px;
    font-size: 20px;
    display: none;
    color: var(--gray-7);

    &.hide {
      display: none !important;
    }

    &.show {
      display: flex !important;
    }
  }

  .loading-check {
    position: absolute;
    left: var(--spacing-s);
    top: 14px;
    font-size: 20px;
    display: flex;
    color: var(--primary-t-5);
  }

  .mat-mdc-form-field-flex {
    flex-direction: row-reverse;
    gap: 8px;
    height: 100%;
  }

  input {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
    color: var(--gray-6) !important;
    direction: rtl;

    &::-webkit-input-placeholder {
      /* Edge */
      color: var(--gray-3) !important;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: var(--gray-3) !important;
    }

    &::placeholder {
      color: var(--gray-3) !important;
    }
  }

  textarea {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
    color: var(--gray-6);
    direction: rtl;
    resize: none;
    height: 100% !important;
    padding-left: var(--spacing-xl) !important;

    &::-webkit-input-placeholder {
      /* Edge */
      color: var(--gray-3) !important;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: var(--gray-3) !important;
    }

    &::placeholder {
      color: var(--gray-3) !important;
    }

    /* Define the styles for the scrollbar track */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--gray-6);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--gray-4);
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: var(--gray-4);
    }
  }

  .mat-mdc-form-field-icon-suffix {
    width: 24px;

    .mat-icon {
      padding: 0;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--gray-7);
    }
  }

  .mat-hint {
    font-size: 10px;
    color: var(--gray-4);
  }

  &.textarea-field {
    .mat-mdc-text-field-wrapper {
      height: 264px;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .mat-mdc-form-field-infix {
      height: 100%;
      padding-left: 0 !important;
    }

    .mat-mdc-form-field-icon-prefix,
    .mat-mdc-form-field-icon-suffix {
      align-self: flex-start;
    }

    .clear,
    .loading-check {
      top: 2px;
    }

    &.textarea-field-h-150 {
      .mat-mdc-text-field-wrapper {
        height: 150px;
      }
    }
  }

  .btn-icon-datepicker {
    position: absolute;
    left: var(--spacing-s);
    cursor: pointer;
    color: var(--gray-7);
    font-size: 14px;
    top: 12px;
    display: flex;
  }

  &.input-datepicker-field {
    .clear {
      left: var(--spacing-xl);
    }
  }

  &.field-readonly {
    input,
    textarea {
      color: var(--gray-7) !important;
      cursor: default;

      &::placeholder {
        color: var(--gray-7) !important;
      }
    }
  }

  &.select-text-field {
    .mat-mdc-form-field-infix {
      padding-left: var(--spacing-s) !important;
    }

    .mat-mdc-select-value {
      text-align: right;
    }

    .mat-mdc-select-placeholder {
      color: var(--gray-3) !important;
    }

    .clear {
      left: var(--spacing-m);
    }

    &.bg-white {
      .mdc-notched-outline__trailing,
      .mdc-notched-outline__leading {
        background: var(--white);
      }

      .mat-mdc-form-field-infix {
        position: relative;
        z-index: 1;
      }
    }
  }

  &.select-text-field-toolbar {
    min-width: 188px;

    .mat-mdc-select-arrow-wrapper,
    .mdc-notched-outline,
    .mat-mdc-form-field-icon-suffix {
      display: none;
    }

    .mat-mdc-text-field-wrapper {
      padding-right: 0 !important;
    }

    .mat-mdc-form-field-infix {
      padding-left: 0 !important;
      width: auto;
    }

    .mat-mdc-select-value {
      font-size: 16px;
      font-weight: 500;
      line-height: 2;
      text-align: right;
      color: var(--white-rgb-09);
    }

    .icon {
      font-size: 16px;
      position: absolute;
      left: 0;
      top: 13px;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white);
    }
  }

  &.select-text-field-list-departman {
    .mat-mdc-select-arrow-wrapper,
    .mat-mdc-form-field-icon-suffix {
      display: none;
    }

    .mat-mdc-text-field-wrapper {
      padding-right: 0 !important;
    }

    .mat-mdc-form-field-infix {
      height: 72px;
      padding-left: 0 !important;
      width: auto;
    }

    .mat-mdc-select-placeholder {
      color: var(--gray-3);
    }

    .mat-mdc-select-value {
      text-align: right;
      padding: 0 var(--spacing-s);
    }
  }

  //=============error
  .mat-mdc-form-field-error-wrapper {
    padding: 0 0;
    z-index: 1;

    .mat-error {
      font-size: 11px;
      font-weight: 500;
      line-height: 1.45;
      text-align: right;
      display: flex;
    }
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  &.error {
    .clear {
      color: var(--error-1);
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: flex;
    }
  }

  // ============= with hint
  &.has-hint {
    .mat-mdc-form-field-subscript-wrapper {
      display: flex;
    }
  }

  // ============= input line
  &.input-line-field {
    text-align: center;

    .mdc-text-field {
      background: transparent !important;
      padding-right: 0 !important;

      .mat-mdc-form-field-focus-overlay {
        background: transparent !important;
      }
    }

    .mat-mdc-form-field-infix {
      padding-left: 0 !important;

      input {
        text-align: center;
      }
    }

    .mat-hint {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.33;
      text-align: center;
      width: 100%;
      color: var(--on-surface-high-emphasis);
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover {
      .mdc-line-ripple::before {
        border-bottom-color: var(--gray-7) !important;
      }
    }
  }

  // =============input for code security
  &.code-input {
    input {
      letter-spacing: 0.5px;
    }

    ::-webkit-input-placeholder {
      /* Edge */
      letter-spacing: 20px;
      font-size: 24px;
      font-weight: 400;
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      letter-spacing: 20px;
      font-size: 24px;
      font-weight: 400;
    }

    ::placeholder {
      letter-spacing: 20px;
      font-size: 24px;
      font-weight: 400;
    }
  }

  // =================ltr field
  &.ltr-field {
    direction: ltr;

    .mdc-notched-outline__leading {
      border-left-style: solid !important;
      border-right-style: none !important;
      border-radius: 5px 0 0 5px !important;
    }

    .mdc-notched-outline__trailing {
      border-left-style: none !important;
      border-right-style: solid !important;
      border-radius: 0 5px 5px 0 !important;
    }

    .mat-mdc-text-field-wrapper {
      padding-right: 0 !important;
      padding-left: var(--spacing-s) !important;
    }

    .mat-mdc-form-field-infix {
      padding-left: 0 !important;
      padding-right: var(--spacing-xxl) !important;
    }

    .clear,
    .loading-check {
      right: var(--spacing-s);
      left: auto;
    }

    input,
    textarea {
      direction: ltr;
      text-align: left;
    }

    .mat-mdc-form-field-icon-suffix {
      padding: 0 4px 0 0;
    }

    .mat-mdc-form-field-error-wrapper {
      .mat-error {
        text-align: left;
      }
    }

    &.errors-rtl {
      .mat-mdc-form-field-error-wrapper {
        direction: rtl;

        .mat-error {
          text-align: right;
        }
      }
    }
  }

  // =======================without hint And error
  &.without-hint-error {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }

  //========================= search header white style
  &.search-white-field {
    .clear,
    .loading-check {
      color: var(--primary-t-5);
    }

    input {
      color: var(--primary-t-5) !important;

      ::-webkit-input-placeholder {
        /* Edge */
        color: var(--primary-t-5) !important;
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--primary-t-5) !important;
      }

      &::placeholder {
        color: var(--primary-t-5) !important;
      }
    }

    .mat-mdc-form-field-icon-suffix {
      .mat-icon {
        color: var(--primary-t-5);
      }
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
      border-color: var(--primary-t-5) !important;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
      border-color: var(--primary-t-2) !important;
    }
  }
}

// ======================datepicker
.mat-datepicker-content {
  .mat-calendar {
    direction: rtl;
    height: 358px !important;
  }

  .mat-calendar-body-label {
    text-align: right;
  }

  .mat-calendar-arrow {
    margin: 0 5px 0 0;
  }

  .mdc-icon-button {
    transform: rotateY(180deg);
  }
}

.mat-mdc-option {
  .mdc-list-item__primary-text {
    font-size: 13px !important;
    font-weight: 500 !important;
    line-height: 2 !important;
    text-align: right !important;
    margin-right: 0 !important;
    width: 100%;
  }

  .mat-pseudo-checkbox {
    display: none !important;
  }
}

// ===================== Radio buttons
.field-radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-m);

  .radio-box-item {
    .mdc-label {
      cursor: pointer;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.4;
      padding-left: 0;
      color: var(--gray-6);
    }
  }
}

.mat-mdc-radio-button.mat-primary {
  --mdc-radio-unselected-hover-icon-color: var(--primary-t-5);
  --mdc-radio-unselected-icon-color: var(--primary-t-5);
  --mdc-radio-unselected-pressed-icon-color: var(--primary-t-5);
}

// ====================== checkBox

.mat-mdc-checkbox.mat-primary {
  --mdc-checkbox-selected-checkmark-color: var(--primary-t-5);
  --mdc-checkbox-unselected-focus-icon-color: var(--primary-t-5);
  --mdc-checkbox-unselected-hover-icon-color: var(--primary-t-5);
  --mdc-checkbox-unselected-focus-state-layer-color: var(--primary-t-5);
  --mdc-checkbox-unselected-hover-state-layer-color: var(--primary-t-5);
  --mdc-checkbox-unselected-pressed-state-layer-color: var(--primary-t-5);

  --mdc-checkbox-unselected-icon-color: var(--primary-t-5);
  --mdc-checkbox-unselected-pressed-icon-color: var(--primary-t-5);
  --mdc-checkbox-selected-icon-color: var(--white);
}

.field-checkbox {
  &.mat-mdc-checkbox-checked {
    .mdc-checkbox__background {
      border: 2px solid var(--primary-t-5) !important;
      background: transparent !important;
    }
  }
}

// ========================slide-toggle

.mat-mdc-slide-toggle {
  .mdc-form-field {
    flex-direction: row-reverse;
    gap: var(--spacing-s);
  }

  .mdc-label {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    padding-left: 0;
    color: var(--gray-6);
  }

  &.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: var(--primary-t-5) !important;
    --mdc-switch-selected-handle-color: var(--primary-t-5) !important;
    --mdc-switch-selected-hover-state-layer-color: var(--primary-t-5) !important;
    --mdc-switch-selected-pressed-state-layer-color: var(--primary-t-5) !important;
    --mdc-switch-selected-focus-handle-color: var(--primary-t-5) !important;
    --mdc-switch-selected-hover-handle-color: var(--primary-t-5) !important;
    --mdc-switch-selected-pressed-handle-color: var(--primary-t-5) !important;
    --mdc-switch-selected-focus-track-color: var(--primary-t-5) !important;
    --mdc-switch-selected-hover-track-color: var(--primary-t-5) !important;
    --mdc-switch-selected-pressed-track-color: var(--primary-t-5) !important;
    --mdc-switch-selected-track-color: var(--primary-t-5) !important;

    --mat-slider-ripple-color: var(--primary-t-5) !important;
    --mat-slider-hover-state-layer-color: var(--primary-t-5) !important;
    --mat-slider-focus-state-layer-color: var(--primary-t-5) !important;
    --mdc-slider-handle-color: var(--primary-t-5) !important;
    --mdc-slider-focus-handle-color: var(--primary-t-5) !important;
    --mdc-slider-hover-handle-color: var(--primary-t-5) !important;
    --mdc-slider-active-track-color: var(--primary-t-5) !important;
    --mdc-slider-inactive-track-color: var(--primary-t-5) !important;
    --mdc-slider-with-tick-marks-inactive-container-color: var(--primary-t-5) !important;
  }
}

.slide-toggle-text-left {
  .mat-mdc-slide-toggle {
    .mdc-form-field {
      flex-direction: row;
    }

    .mdc-label {
      color: var(--orange-12);
    }
  }
}
