app-empty-list {
    display: block;
    width: 300px;
    max-width: 100%;
    margin: var(--spacing-l) auto;

    .empty-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-xl);

        img {
            width: 300px;
            max-width: 100%;
        }

        h4 {
            font-size: 18px;
            font-weight: 500;
            line-height: 2;
            text-align: center;
            color: var(--gray-8);
        }
    }
}