:root {
  --white: #ffffff;
  --black: #000000;

  --primary: #009668;
  --primary-tin-1: #10a192;
  --primary-tin-2: #22ab9e;
  --primary-tin-3: #37b6a9;
  --primary-tin-4: #4dc0b5;
  --primary-tin-5: #65cbc1;
  --primary-tin-6: #80d5cd;
  --primary-tin-7: #9de0d9;
  --primary-tin-8: #bbeae5;
  --primary-tin-9: #dcf5f2;

  --primary-1: #00b77a;
  --primary-2: #00786c;
  --primary-3: #00695f;
  --primary-4: #005a51;
  --primary-5: #004b44;
  --primary-6: #003c36;
  --primary-7: #002d29;
  --primary-8: #001e1b;
  --primary-9: #000fde;

  --primary-t-1: #004d4d;
  --primary-t-2: #00665c;
  --primary-t-3: #000f0e;
  --primary-t-4: #52c7b8;
  --primary-t-5: #009688;
  --primary-t-6: #27a498;
  --primary-t-7: #b7e7d9;
  --primary-t-8: #dbf3ec;

  --orange: #ff5722;
  --orange-1: #ffddd3;
  --orange-2: #ffc7b5;
  --orange-3: #ffab90;
  --orange-4: #ff8f6c;
  --orange-5: #ff7347;
  --orange-6: #ff5722;
  --orange-7: #d4491c;
  --orange-8: #aa3aa17;
  --orange-9: #802c11;
  --orange-10: #551d0b;
  --orange-11: #331107;
  --orange-12: #e64a19;
  --orange-13: #ff8a50;

  --error-1: #ba1a1a;
  --on-error: #f6f8fb;

  --gray: #dbe8e4;
  --gray-1: #f8f9fa;
  --gray-2: #fefefe;
  --gray-3: #bdbdbd;
  --gray-4: #828282;
  --gray-5: #181818;
  --gray-6: #4f4f4f;
  --gray-7: #e0e0e0;
  --gray-8: #333333;
  --gray-9: #f2f2f2;
  --gray-10: #ededed;

  --gray-1-rgb-05: rgba(248, 249, 250, 0.5);
  --gray-1-rgb-03: rgba(248, 249, 250, 0.3);
  --gray-1-rgb-07: rgba(248, 249, 250, 0.7);
  --gray-2-rgb-05: rgba(219, 243, 236, 0.5);
  --gray-3-rgb-05: rgba(220, 245, 242, 0.5);
  --gray-9-rgb-05: rgba(242, 242, 242, 0.7);


  --white-rgb-02: rgba(255, 255, 255, 0.2);
  --white-rgb-05: rgba(255, 255, 255, 0.5);
  --white-rgb-06: rgba(255, 255, 255, 0.6);
  --white-rgb-09: rgba(255, 255, 255, 0.9);

  --black-rgb-008: rgba(0, 0, 0, 0.08);
  --black-rgb-014: rgba(0, 0, 0, 0.14);
  --black-rgb-02: rgba(0, 0, 0, 0.2);
  --black-rgb-024: rgba(0, 0, 0, 0.24);
  --black-rgb-025: rgba(0, 0, 0, 0.25);
  --black-rgb-05: rgba(0, 0, 0, 0.5);
  --black-rgb-085: rgba(0, 0, 0, 0.85);

  --primary-1-rgb-07: rgba(220, 245, 242, 0.7);
  --primary-2-rgb-097: rgba(135, 214, 201, 0.97);

  --green-rgb-099: rgba(0, 150, 136, 0.99);
  --green-rgb-07: rgba(0, 150, 136, 0.7);
  
  
  --primary-t-2-rgb-05: rgba(0, 102, 92, 0.5);

  
  --orange-1-rgb-06: rgba(230, 74, 25, 0.6);
  
  --orange-2-rgb-03: rgba(255, 199, 181, 0.3);
  --orange-2-rgb-05: rgba(255, 199, 181, 0.5);
}