<form [formGroup]="form" class="form-crud forget-pass-form">
    <!--phoneNumber-->
    <div class="item-form">
        <label>شماره موبایل</label>
        <mat-form-field appearance="outline" class="input-text-field"
            [ngClass]="{'error': f.phoneNumber.invalid && f.phoneNumber.touched}">
            <input type="text" placeholder="09111234567" matInput formControlName="phoneNumber">
            <!-- error -->
            <mat-error class="mat-error" *ngIf="f.phoneNumber.hasError('required')">
                پر کردن این فیلد الزامی است
            </mat-error>
        </mat-form-field>
    </div>

  
    <div class="buttons-form">
        <div class="btn-jnf btn-filled">
            <button class="button" mat-raised-button disableRipple="true" [disabled]="form.invalid"
                (click)="onSubmit()" [ngClass]=" {'loading': isSubmitLoading}" ButtonPromise
                [promiseBtn]="subscriptions" color="primary">
                <span class="text">
                    دریافت کد
                </span>
            </button>
        </div>
    </div>
</form>