.login-form {
    width: 400px;
    max-width: 100%;
    margin: 20px auto;


    .forget-pass-link {
        color: rgba(255, 87, 34, 1);
        font-size: 14px;
        cursor: pointer;
        font-weight: 500;
        line-height: 18px;
    }
}