@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin gt-mobile {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin lt-desktop {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin gt-tablet {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) and (max-width: 1439px) {
    @content;
  }
}

@mixin lt-wide-desktop {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin wide-desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}