.cdk-global-scrollblock{top: 0 !important;}
body {font-family: IRANSansX;margin: 0;padding: 0;direction: rtl;text-align: right;background-color: var(--gray-1); min-height: 100vh;overflow-x: hidden;}
h1,h2,h3,h4,h5,h6,p {margin: 0}
button {font-family: inherit;}
figure {margin: 0;}
a {text-decoration: none;}
*,*::after,*::before {box-sizing: border-box;}
* {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray-4);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-4);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: var(--gray-4);
  }
}  
  