:root {
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-l: 24px;
  --spacing-m: 32px;
  --spacing-xl: 40px;
  --spacing-xxl: 48px;
  --spacing-xxl-2: 56px;
  --spacing-xxl-3: 64px;
  --spacing-xxl-4: 72px;
  --spacing-xxl-5: 80px;
  --spacing-xxl-6: 88px;
  --spacing-xxl-7: 96px;
  --spacing-xxl-8: 104px;
}
