@import "src/assets/style/components/dialog.scss";

app-dialog-discont-code-list {
    .dialog-discont-code-list {
        .header-dialog {
            border-bottom: 1px solid var(--gray-7);
            padding-bottom: 20px;

            .title {
                font-size: 14px;
                font-weight: 500;
                color: var(--orange-12);
            }

            .close-dialog {
                width: 24px;
                height: 24px;
                background: var(--gray-9);
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: var(--gray-6);
                    font-size: 10px;
                }
            }
        }

        .content-dialog {
            position: relative;
            padding-bottom: 8px;
            min-height: 270px;

            .data-all-report {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;

                .row {
                    display: flex;
                    align-items: flex-start;
                    align-content: flex-start;
                    align-self: stretch;
                    flex-wrap: wrap;
                    gap: 8px;
                    width: 100%;

                    .title-value {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        min-width: 101px;
                        max-width: 100%;

                        .title {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            color: var(--gray-6);
                            display: flex;
                            align-items: center;
                            gap: 4px;

                            &.gray {
                                color: var(--gray-4);
                            }
                        }

                        .value {
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            color: var(--gray-4);

                            span {
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 32px;
                                color: var(--gray-6);

                                &.orange {
                                    color: var(--orange-12);
                                }
                            }
                        }
                    }
                }
            }

            .data-table {
                margin-top: 16px;

                .table-custom {
                    td {
                        border-left: none !important;
                    }
                }
            }
        }

        .button-box-dialog {
            padding: 13px 16px;
            margin-top: 0 !important;
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
            display: flex;
            justify-content: flex-end;

            .btn-jnf {
                min-width: 60px;
                width: fit-content;
            }
        }
    }
}
