app-filter-all-class {
    .filters-box {
        margin-bottom: var(--spacing-s);

        .input-text-field {
            width: 200px;

            .mdc-notched-outline {
                background: var(--white);
            }

            .mat-mdc-form-field-infix {
                position: relative;
                z-index: 2;
            }
        }
    }
}