@import 'assets/style/colors/colors.scss';
@import 'assets/style/colors/material_theme.scss';
@import 'assets/fonts/font.scss';
@import 'assets/style/base/base.scss';


// components
@import 'assets/style/components/text-fields.scss';
@import 'assets/style/components/button.scss';
@import 'assets/style/components/table-box.scss';
@import 'assets/style/components/filter.scss';
@import 'assets/style/components/form-crud.scss';
@import 'assets/style/components/alert-snak-bar.scss';

@import 'assets/style/base/print.scss';