@import 'src/assets/style/base/breakpoints.scss';

.notification-toolbar {
    position: relative;

    .btn-icon {
        color: var(--primary-t-2);
        width: 60px;
        cursor: pointer;
        border-left: 1px solid var(--primary-t-7);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        position: relative;
        z-index: 3;

        @include lt-desktop {
            width: 40px;
            height: 24px;
            color: var(--white);
        }

        .mat-icon {
            font-size: 28px;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include lt-desktop {
                font-size: 24px;
                width: 24px;
                height: 24px;
            }

        }
    }

    .dropdown-notification {
        position: absolute;
        display: none;
        z-index: 3;
        top: 76px;
        left: 0;
        width: 300px;
        max-height: 444px;
        border-radius: 0 0 8px 8px;
        padding: 0 var(--spacing-s) var(--spacing-l);
        box-shadow: 0 4px 8px 0 var(--black-rgb-025);
        background: var(--white);

        @include lt-desktop {
            top: 39px;
        }

        &.show {
            display: block;
            animation: transformAnimate 0.6s;
            -o-animation: transformAnimate 0.6s;
            -webkit-animation: transformAnimate 0.6s;
        }

        .title-card {
            font-size: 16px;
            font-weight: 500;
            line-height: 2;
            color: var(--gray-8);
            padding: var(--spacing-s) 0;
            border-bottom: 1px solid var(--gray-7);
            text-align: center;
        }

        .list-notification {
            margin-top: var(--spacing-s);
            display: flex;
            flex-direction: column;
            gap: var(--spacing-s);
            height: 280px;
            overflow-y: auto;

            .item {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid var(--gray-7);
                padding-bottom: var(--spacing-s);

                &:last-child {
                    border-bottom: none;
                }

                .title {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 2;
                    color: var(--primary-t-5);
                }

                .description {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 2;
                    color: var(--gray-6);
                }

                .type-notif {
                    margin-top: var(--spacing-s);
                    min-width: 81px;
                    width: fit-content;
                    max-width: 100%;
                    border-radius: 24px;
                    height: 34px;
                    background: var(--gray-7);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.5;
                }
            }
        }

        .show-all {
            margin-top: 12px;
            width: 100%;

            .btn-jnf {
                width: 100%;
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
        height: 100vh;
    }
}


@keyframes transformAnimate {
    0% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0%)
    }
}